name: Auto Movie Scraper
on:
  schedule:
    - cron: '0 */6 * * *' # Protiki 6 ghonta por por auto update hobe
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add movies_db.json
          # jodi kono change na thake tobe commit error dibe na
          git commit -m "Auto Update Movies Database" || echo "No changes to commit"
          git push
