name: Auto Movie Scraper
on:
  schedule:
    - cron: '0 */6 * * *' # Protiki 6 ghonta por por auto update hobe
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/checkout@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run Scraper
        run: python scraper.py

      - name: Commit changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add movies_db.json
          git commit -m "Auto Update Movies Database"
          git push
